.comentarios{
    margin-bottom: 10px;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #cbf0ed;
    border: 2px solid black;
    border-radius: 8px;
}

.comentarios h2{
    width: 90%;
    color: white;
}

.comentario{
    margin-bottom: 4px;
    width: 33%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(179, 168, 168) solid;
    padding: 6px;
}

.comentario img{
    width: 65px;
    height: 65px;
    border-radius: 2px;
}
.comentario h3{
    font-size: 12pt;
}

.comentario>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario>div p{
    font-size: 9pt;
}
@media (max-width: 978px){

    section>div:nth-child(1){
        width: 100vw;
    }

    section>div:nth-child(2){
        width: 100vw;
    }
}


section>div:nth-child(1)>div img{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

section>div:nth-child(2){
    margin:  0px 30px 0px 30px;
    width: 990px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9eafc;
    border: #40ac9a9a 1px solid;
    text-shadow: 1px 1px 1px #083d4b;
}

section>div:nth-child(2) button{
    border: none;
    border-radius: 10px;
}

.dados{
    height: 45vh;
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 2px solid black;
}

.dados>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dados>div:nth-child(1)>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.dados>div:nth-child(1)>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.dados>div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.dados>div:nth-child(2)>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.dados>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.dados>div:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.dados>div:nth-child(3)>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
}

.dados>div:nth-child(3)>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33;
}

.dados>div:nth-child(3)>div:nth-child(3){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
}

.sobre{
    margin:20px 0px;
    height: 45vh;
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 2px solid black;
}

.sobre h2{
    font-size: 18pt;
}

.sobre>div:nth-child(2){
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sobre>div:nth-child(2)>p{
    margin-left: 30px;
    font-size: 12pt;
    width: 50%;
}

.sobre>div:nth-child(2)>button{
    margin-left:15px;
    width: 80px;
    height: 20px;
    margin-bottom: 10px;
}

.sobre>div:nth-child(4){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: #083d4b;
    padding: 0px 5px;
    border-radius: 4px;
}

.sobre>div:nth-child(4) p{
    background-color: white;
    border-radius: 20px;
    padding: 0px 6px;
}

.sobre>div:nth-child(4) button{
    color: white;
    background-color: black;
    margin-left: 10px;
}



@media (max-width: 978px){

    section>div:nth-child(1){
        width: 100vw;
    }

    section>div:nth-child(2){
        width: 100vw;
    }
}